.root {
  border-radius: 14px;
  width: 400px;
  height: 50px;
  border: 5px solid #fe5f1e;
  padding-left: 25px;
  position: relative;
  opacity: 0.6;
  left: -100px;
}
.root:hover {
opacity: 1;
}
.input {
  outline: none;
  font-size: 16px;
  border: none;
  position: absolute;
  top: 8px;
  left: 52px;
}
.icon {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 5px;
  top: 2px;
}
.clear{
     position: absolute;
  width: 35px;
  height: 35px;
  left: 350px;
  top: 2px;
}
